html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 1rem/1.15 Helvetica, Arial, sans-serif;
}
a {
  color: #673AB7;
}
a:hover {
  color: rgb(138, 74, 250);
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}
.btn {
  display: inline-block;
  padding: 10px 35px;
  background: #9C27B0;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
}
.btn:hover {
  background: rgb(125, 32, 141);
  color: #fff;
}
.profile {
  padding: 20px 0;
}
.profile-wrap {
  display: flex;
  padding: 10px;
  align-items: center;
}
.profile__name {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 15px;
}
.profile__edit {
  margin-right: auto;
}
.follow__link {
  display: flex;
  align-items: center;
  padding: 8px 25px 8px 15px;
  background: #673AB7;
}
.follow__link:hover {
  background: rgb(85, 47, 150);
}
.add-message {
  padding: 0 15px;
}
.add-message__form {
  display: flex;
}
.add-message__control {
  padding: 0 10px;
  flex-grow: 1;
  border: 1px solid rgb(211, 211, 211);
  border-right: none;
  outline: none;
  color: #666;
}


/* message list */

.message {
  padding: 20px 15px;
  background: #f3f3f3;
}
.message__item {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 2px 3px -2px rgba(0,0,0, .6);
}
.message__author {
  padding: 8px 10px;
  background: rgb(121, 61, 224);
  color: #fff;
  font-weight: bold;
}
.message__body {
  padding: 10px;
}


.modal-wrap {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
}
.user-edit,
.subcribe {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 250px;
}
.user-edit__heading {
  margin-bottom: 25px;
  padding: 5px 0;
  border-bottom: 1px solid #e4e4e4;
  font-weight: bold;
}
.form__group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form__group label {
  margin-right: 10px;
}
.user-edit__control {
  padding: 5px 10px;
  border: 1px solid rgb(211, 211, 211);
  outline: none;
  flex-grow: 1;
  box-sizing: border-box;
}
.user-edit__btn {
  margin-top: auto;
  align-self: flex-end;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}